<md-input 
    placeholder="Search" 
    align="start" 
    [(ngModel)]="search">
</md-input>

<app-list 
  #appList
  [items]="items"
  [searchTerm]="search"
  (selectedItem)="selectedItemHandler($event)">
</app-list>

<button #myBtn class="button" (click)="changeName()">Change Name</button>

<div *ngIf="activeItem">
  <img [src]="activeItem.image" *ngIf="activeItem.image">
  <div class="name">name: {{ activeItem.name }}</div>
  <div class="type" *ngIf="activeItem.type">type: {{ activeItem.type }}</div>
  <div class="age" *ngIf="activeItem.age">age: {{ activeItem.age }}</div>
</div>