/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin :0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.router-view {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 0;
}